---
import Layout from "../layouts/Layout.astro";
import IconParkAbnormal from "~icons/icon-park/abnormal";

import HomeLink from "../components/HomeLink.vue";
---

<Layout title="Welcome to Astro.">
  <main>
    <HomeLink />
    <br />
    <IconParkAbnormal />
  </main>
</Layout>
